@import './assets/colors';

.module {
  background: transparentize($light, .1);
  cursor: pointer;
  min-height: 100%;
  padding: 90px 0 60px;
  position: absolute;
  top: 0;
  width: 100%;

  article {
    animation: appear .3s;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 12px rgba(0,0,0,.12);
    cursor: auto;
    padding: 40px;
  }

  a {color: lighten($dark, 15%)}

  h3 {margin: 20px;}
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
