@import './assets/colors';

.module {
  cursor: pointer;
  min-height: 100%;
  padding: 90px 0 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  article {
    display: flex;
    background: $lightyellow;
    box-shadow: 4px 4px 0 $darkblue;
    cursor: auto;
    padding: 20px 0 20px 0;
  }

  button {
    z-index: 1;
    background: $pink;
    border: 0;
    color: $light;
    font-size: 2em;
    font-weight: bold;
    height: 35px;
    padding: 4px 8px;
    margin-bottom: -25px;
    margin-right: 20px;

    span {
      position: relative;
      top: -6px;
    }
  }
}

.modal {
  animation: appear .3s;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.background {
  background: transparentize(rgb(164, 223, 238), .1);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: fadein .3s;
}

.badge {
  strong {
    background-color: $pink;
    color: #fff;
    padding: 4px 6px;
    display: inline-block;
  }
}

.content {
  h3 {
    background-color: $darkblue;
    display: inline-block;
    color: $light;
    font-size: 1.5em;
    padding: 3px 5px;
  }

  p {
    color: $darkblue;
    padding: 10px 20px 10px;

    &:first-of-type {
      padding-top: 20px
    }
    &:last-of-type {
      padding-bottom: 20px;
    }
  }

  a {
    margin-left: 20px;
    background-color: rgb(164, 223, 238);
    color: $darkblue;
    display: inline-block;
    text-shadow: white 1px 1px;
    margin-top: 5px;
    padding: 6px 10px;

    &::before {
      content: '';
      width: .9em;
      height: 1em;
      display: inline-block;
      vertical-align: top;
      margin-right: .2em;
      background: url('./assets/ico_link_source.svg') no-repeat center;
      background-size: contain;
    }
  }
}

.imgContainer {
  margin-top: 26.4px;
  width: 120px;
  height: 120px;
  flex-shrink: 0;
  position: relative;
  display: inline-block;
  overflow: hidden;

  img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
