@import './assets/colors';

.module {
  &:hover {
    text-decoration: none;
  }

  article {
    color: $main;
    height: 230px;
    margin-top: 30px;
    padding: 20px;
    text-align: center;

    p {
      background-color: $pink;
      color: #fff;
      font-weight: bold;
      margin: 0 auto;
      width: 70px;
    }

    h3 {
      display: inline;
      color: #fff;
      background-color: $darkblue;
      box-shadow: 5px 0 0 $darkblue, -5px 0 0 $darkblue;
    }
  }
}

.imgContainer {
  width: 170px;
  height: 170px;

  position: relative;
  display: inline-block;
  overflow: hidden;

  img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.hasRightPseudo {
  &:after {
    background-color: $darkblue;
    content: ' ';
    position: absolute;
    height: 100%;
    width: 5px;
    right: -5px;
    top: 0;
    z-index: 1;
  }
}

.hasLeftPseudo {
  &:before {
    background-color: $darkblue;
    content: ' ';
    position: absolute;
    height: 100%;
    width: 5px;
    left: -5px;
    top: 0;
    z-index: 1;
  }
}
