@import './assets/colors';

.header {
  margin-bottom: 40px;

  img {
    float: left;
    /* negative margin-top to really move box */
    margin-top: -120px;
    /* relative positionning to bring back our macaron down */
    position: relative;
    top: 60px;
  }

  h2 {
    font-size: 2.1em;
    color: $pink;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 10px auto;
    max-width: 500px;
  }

  p {
    font-size: 1.2em;
    font-weight: 500;
    color: $pink;
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
  }
}
