@import './assets/colors';

.module {
  min-height: 100vh;
  background: $lightyellow;

  header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -30px;
    transform: rotate(-3deg);
    max-width: 500px;
    margin: auto;

    h2 {
      font-weight: 700;
      padding: 3px 8px;
      color: white;
      font-size: 20px;
      text-transform: uppercase;
      background-color: $darkblue;

      &:first-of-type {
        padding-bottom: 0;
        margin-bottom: -1px;
      }
    }
  }

  nav {
    background: $dark;
    height: 200px;
    position: relative;
    text-align: center;
    z-index: 100;

    a {
      color: $light;
      font-weight: 600;
      height: 95px;
      background-size: 90px;
      width: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      text-transform: uppercase;

      &:not(:last-child) {
        margin-right: 15px;
      }

      &:hover {
        text-decoration: none;

        span { background-color: $pink; }
      }

      span {
        background-color: $darkblue;
        padding: 0 3px;
        position: relative;
        top: 10px;
      }
    }
  }
}

.linkContainers {
  display: inline-flex;
  justify-content: center;
  margin-top: -10px;
  position: relative;
}

.ico_cadeau {
  background: url('./assets/ico_cadeau.svg') no-repeat center;
}
.ico_double_face {
  background: url('./assets/ico_double_face.svg') no-repeat center;
}
.ico_alibi_vert {
  background: url('./assets/ico_alibi_vert.svg') no-repeat center;
}
.ico_fauteuil {
  background: url('./assets/ico_fauteuil.svg') no-repeat center;
}
.ico_macronlover {
  background: url('./assets/ico_macronlover.svg') no-repeat center;
}
.ico_bluff {
  background: url('./assets/ico_bluff.svg') no-repeat center;
}
.ico_salade {
  background: url('./assets/ico_salade.svg') no-repeat center;
}

.content {
  padding: 100px 0;
  position: relative;

  h2 {
    font-size: 1.4em;
    margin-bottom: 10px;
  }

  p {
    line-height: 1.4em;
  }
}

nav a.active {
  span {
    background-color: $pink;
  }
}

.arrow {
  position: absolute;
  bottom: -62px;
  left: 0;
  transition: transform .1s ease;

  &:after, &:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 18px;
    margin-left: -18px;
  }

  &:before {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 24px;
    margin-left: -24px;
  }
}
