@import './assets/colors';

.module {
  background-image: radial-gradient(
    circle farthest-corner at center,
    white 0%,
    $lightblue 75%
  );
  display: flex;
  flex-direction: column;
  height: 65vh;
  position: relative;
  width: 100%;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(./assets/tambouille_logo_x1.png);
  background-position: center 105px;
  background-repeat: no-repeat;
}

.space {
  flex: 1;
}

.wrapper {
  color: $darkblue;
  font-size: 2em;
  line-height: 1.8em;
  padding-bottom: 50px;
  text-align: center;

  h1 {
    color: $darkblue;
    font-size: 2em;
    line-height: 1em;
  }
  h2 {
    color: $darkblue;
    font-size: 2em;
    font-weight: 400;
  }

  p {
    display: inline-block;
    font-size: 0.6em;
    color: $pink;
    max-width: 16em;
    line-height: 1.4em;
    font-weight: 500;
  }
}

.welcome {
  margin-bottom: 1em;
  font-size: 0.9em;
  line-height: 1em;
  padding: 3px 8px;
  transform: rotate(5deg);
  background: $pink;
  display: inline-block;
  color: white;
  text-transform: uppercase;
}

.tagline {
  margin-top: 1em;
}
