@import './assets/colors';

.module {
  background-image: radial-gradient(
    circle farthest-corner at center,
    white 0%,
    $lightblue 75%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: $darkblue;
  font-size: 2em;
  line-height: 1.8em;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  h1 {
    color: $darkblue;
    font-size: 2em;
    line-height: 1em;
  }

  h2 {
    color: $darkblue;
    font-size: 1.6em;
    font-weight: 400;
  }

  h3 {
    margin-bottom: .6em;
    font-size: 0.9em;
    line-height: 1em;
    padding: 3px 8px;
    transform: rotate(3deg);
    background: $pink;
    display: inline-block;
    color: white;
    margin-top: -1.9em;
    text-transform: uppercase;
  }

  p {
    display: inline-block;
    font-size: 0.6em;
    color: $pink;
    max-width: 16em;
    line-height: 1.4em;
    font-weight: 500;
  }

  p {
    margin-top: 1em;
  }
}

@media (max-width: 768px) {
  .module img {
    width: 300px;
  }

  .module h1 {
    font-size: 1.6em;
  }

  .module h2 {
    font-size: 1.4em;
  }
}
